@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
}

/****************** nav ******************/

nav {
    background-color: #fff;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-hamburger {
    display: none;
    padding: 15px 10px 0;
    width: 35px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #000;
    display: block;
    border-radius: 5px;
    transition: 0.2s ease;
}

#bar-01 {
    transform: translateY(-4px);
}

#bar-03 {
    transform: translateY(4px);
}

.change-bar #bar-01 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change-bar #bar-02 {
    opacity: 0;
}

.change-bar #bar-03 {
    transform: translateY(-6px) rotateZ(45deg);
}

.nav-menu {
    display: flex;
    padding: 27px 0;
    justify-content: space-between;
}

.nav-menu a {
    font-size: 0.875rem;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: .3s ease;
}

.nav-menu a:hover {
    color: #e7a848;
}

.nav-menu li {
    margin-right: 30px;
}

.nav-menu li:nth-child(5) {
    margin-right: 50px;
}

.nav-menu li:nth-child(6) {
    margin: 0 auto;
    position: relative;
    display: flex;
}

.nav-menu li:nth-child(6):before {
    content: "";
    height: 80px;
    top: -27px;
    left: -25px;
    position: absolute;
    border-left: 1.8px solid rgba(0, 0, 0, 0.1);
}

.nav-menu i {
    cursor: pointer;
    transition: .5s;
}

.search-icon input {
    width: 0;
    margin-left: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: .5s ease;
}

.change-input {
    width: 150px !important;
}

.change-icon {
    transition: .1s ease;
    color: #8e8e8e;
}

/****************** header ******************/

header {
    background-image: url('../img/header-bg.png');
    background-position: center;
    background-size: cover;
    height: 880px;
    position: relative;
}

.header-box {
    background-color: #000000;
    color: #fff;
    padding: 110px 0 55px 135px;
    width: 525px;
    position: absolute;
    bottom: -140px;
}

.header-box p {
    width: 430px;
    font-size: 3.5rem;
    font-weight: lighter;
    line-height: 80px;
    margin-bottom: 65px;
}

.header-box-icon i {
    font-size: 4.625rem;
}

/****************** content ******************/

.content-container {
    padding: 210px 0 70px;
    display: flex;
    justify-content: space-between;
}

.content-text {
    width: 445px;
    margin-top: 50px;
}

.content-text h1 {
    font-size: 2rem;
}

.content-text p {
    margin: 35px 0;
    font-size: 1.125rem;
    line-height: 30px;
}

.content-text a {
    color: #000000;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.content-img img {
    width: 100%;
}

/****************** facts ******************/

.facts {
    background-color: #000000;
    font-weight: lighter;
}

.facts-container {
    padding: 66px 0 90px;
}

.facts-heading {
    text-align: center;
}

.facts-container h1 {
    font-size: 2.875rem;
    color: #fff;
}

.facts-container p {
    font-size: 1.125rem;
    color: #979797;
}

.facts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 60px 0;
    margin: 130px auto 110px;
    width: 900px;
    justify-items: flex-end;
}

.facts-items {
    width: 350px;
}

.facts-items h1 {
    margin-bottom: 35px;
}

.facts-items p {
    line-height: 30px;
}

.facts-button {
    text-align: center;
}

.facts-button a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.125rem;
    border: 1px #fff solid;
    padding: 18px 60px;
    transition: .3s ease;
}

.facts-button a:hover {
    background-color: #fff;
    color: #000000;
}

/****************** features ******************/

.features {
    background-color: #fff;
}

.features-container {
    color: #000;
    font-weight: lighter;
    padding-top: 65px;
}

.features-heading h1 {
    font-size: 2.875rem;
    text-align: center;
    margin-bottom: 140px;
}

.features-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.features-items-text {
    margin-left: 40px;
}

.features-items-text h1 {
    font-size: 2.625rem;
    margin: 60px 0 45px;
}

.features-items-text p {
    width: 420px;
    font-size: 1.125rem;
    line-height: 30px;
}

/****************** testimonial ******************/

.testimonial-box {
    background-color: #e7a848;
    text-align: center;
    font-weight: 400;
    overflow: hidden;
}

.testimonial-box img {
    width: 35px;
    margin: 90px 0 30px;
}

.testimonial-box h1 {
    font-size: 1.125rem;
}

.testimonial-box p {
    width: 540px;
    font-size: 1.688rem;
    line-height: 48px;
    margin: 40px auto 165px;
}

.testimonial-brand {
    margin: 70px 0;
}

/****************** footer ******************/

.footer-top {
    background-color: #3b3d3f;
    color: #fff;
}

.footer-top-container {
    display: flex;
    padding: 55px 0 60px;
}

.footer-top-text {
    width: 320px;
}

.footer-top-items {
    width: 180px;
}

.footer-top-text p {
    font-size: 0.875rem;
    line-height: 24px;
    margin-top: 50px;
}

.footer-top-grid {
    margin: 30px 0 0 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 4rem 0;
}

.footer-top-grid h1 {
    margin-bottom: 50px;
    font-size: 1.125rem;
}

.footer-top-grid li {
    margin-bottom: 22px;
    font-size: 0.875rem;
}

.footer-top-grid i {
    color: #e7a848;
}

.footer-top-grid a {
    text-decoration: none;
    color: #fff;
    transition: .2s ease;
}

.footer-top-grid a:hover {
    color: #aaaaaa;
}

.footer-bottom {
    background-color: #282828;
}

.footer-bottom-container {
    padding: 50px 0 40px;
    display: flex;
    justify-content: space-between;
    color: #939495;
    font-size: 1rem;
}

.footer-bottom-menu {
    display: flex;
    justify-content: space-between;
    width: 420px;
}

.footer-bottom-social {
    display: flex;
    justify-content: space-between;
    width: 205px;
}

.footer-bottom-menu a, .footer-bottom-social i {
    text-decoration: none;
    color: #939495;
    transition: .2s ease;
}

.footer-bottom-menu a:hover, .footer-bottom-social i:hover {
    color: #e7a848;
}

@media only screen and (max-width: 1100px) {
    /****************** content (max-1100px ipad pro) ******************/
    .content-img {
        text-align: right;
        align-self: flex-end;
    }
    .content-img img {
        width: 90%;
    }
    /****************** features (max-1100px ipad pro) ******************/
    .features-items-img {
        margin-left: 25px;
    }
    .features-items-img img {
        width: 100%;
    }
    .features-items-text h1 {
        margin-top: 40px;
    }
    /****************** footer (max-1100px ipad pro) ******************/
    .footer-top-text {
        width: 280px;
    }
    .footer-top-text img {
        margin-top: 20px;
    }
    .footer-top-text p {
        margin-top: 30px;
    }
    .footer-bottom-menu {
        width: 330px;
    }
}

@media only screen and (max-width:1000px) {
    /****************** nav (max-1000px ipad) ******************/
    .nav-menu li {
        margin-right: 20px;
    }
    .change-input {
        width: 100px !important;
    }
    /****************** header (max-1000px ipad) ******************/
    header {
        height: 800px;
    }
    /****************** content (max-1000px ipad) ******************/
    .content-container {
        padding-top: 180px;
        flex-direction: column;
    }
    .content-text {
        width: 450px;
        margin: 50px auto;
    }
    .content-img {
        text-align: center;
        align-self: auto;
    }
    .content-img img {
        width: 80%;
    }
    /****************** facts (max-1000px ipad) ******************/
    .facts-grid {
        width: auto;
        justify-items: center;
    }
    /****************** features (max-1000px ipad) ******************/
    .features-heading h1 {
        margin-bottom: 80px;
    }
    .features-items-text p {
        width: 300px;
        font-size: 1.125rem;
    }
    .features-items-text h1 {
        margin: 0 0 20px;
    }
    .features-items-img {
        margin: 20px 0 0 25px;
    }
    /****************** footer (max-1000px ipad) ******************/
    .footer-bottom-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-bottom-menu {
        width: 350px;
        margin: 20px auto;
    }
    .footer-bottom-social {
        width: 230px;
        margin: 0 auto;
    }
}

@media only screen and (max-width:700px) {
    /****************** nav (max-700px mobile) ******************/
    .nav_bar {
        padding: 15px 0;
        position: relative;
    }
    .nav-container {
        display: block;
    }
    #nav-hamburger {
        display: block;
        position: absolute;
        right: 0;
        top: 15px;
    }
    .nav-menu {
        height: 0px;
        flex-direction: column;
        text-align: center;
        padding: 0;
        transition: .2s;
    }
    .nav-menu li {
        margin: 15px 0;
    }
    .nav-menu li:nth-child(1) {
        margin-top: 20px;
    }
    .nav-menu li:nth-child(5) {
        margin-right: 0;
    }
    .nav-menu li:nth-child(6) {
        margin: 18px auto 20px;
    }
    .nav-menu li:nth-child(6):before {
        display: none;
    }
    .search-icon input {
        margin-left: 5px;
    }
    .change-menu {
        height: 300px;
    }
    .change-input {
        width: 150px !important;
    }
    /****************** header (max-700px mobile) ******************/
    .header-box {
        padding: 100px 0 55px 35px;
        width: 300px;
    }
    .header-box p {
        width: auto;
        font-size: 3rem;
        line-height: 75px;
        margin-bottom: 55px;
    }
    /****************** content (max-700px mobile) ******************/
    .content-text {
        width: 100%;
    }
    .content-text p {
        margin: 35px 0;
        font-size: 1.125rem;
        line-height: 30px;
    }
    .content-img img {
        width: 100%;
    }
    /****************** facts (max-700px mobile) ******************/
    .facts-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-items: flex-end;
    }
    .facts-items {
        width: 90%;
    }
    /****************** features (max-700px mobile) ******************/
    .up-pics {
        flex-direction: column-reverse;
    }
    #normal-pic {
        flex-direction: column;
    }
    .features-items {
        margin-bottom: 90px;
    }
    .features-items-text {
        margin-left: 20px;
    }
    .features-items-text h1, .features-items-img {
        margin-bottom: 30px;
    }
    .features-items-img {
        margin: 0 0 40px;
    }
    /****************** testimonial (max-700px mobile) ******************/
    .testimonial-box {
        height: auto;
    }
    .testimonial-box p {
        width: auto;
        margin: 0;
        font-size: 1.5rem;
        padding: 40px 30px 100px;
    }
    .testimonial-brand {
        margin: 50px 0px;
    }
    /****************** footer (max-700px mobile) ******************/
    .footer-top-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-top-text {
        margin: 0 auto 50px;
    }
    .footer-top-grid {
        margin: 0;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        grid-gap: 2rem 0;
    }
    .footer-top-items {
        width: auto;
    }
    .footer-top-grid h1 {
        margin-bottom: 25px;
        font-size: 1rem;
    }
    .footer-top-grid li {
        margin-bottom: 20px;
        font-size: 0.688rem;
    }
    .footer-bottom-container {
        font-size: 0.875rem;
    }
    .footer-bottom-menu {
        width: 280px;
    }
}

@media only screen and (max-width: 400px) {
    /****************** header (max-400px iphone5/SE) ******************/
    .header-box {
        padding: 100px 0 55px 25px;
        width: 265px;
    }
    .header-box p {
        font-size: 2.75rem;
        line-height: 70px;
    }
    /****************** features (max-400px iphone5/SE) ******************/
    .features-items-text p {
        width: 100%;
    }
}